 <div class="user-details">
  <h1> ¿Historia digital? </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Definición del problema</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>El tratamiento de datos históricos se puede subdividir en dos fases: recolección y procesamiento. En la fase de recolección se suelen aplicar diversas metodologías como el raspado de datos web (data scrapping) y la digitalización de información impresa. El procesamiento incluye la normalización y depuración inteligente de los datos previamente recolectados.</p>
    </div>
    <div class="tech">
      <h2>Tratamiento de datos</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>El tratamiento de datos históricos se puede subdividir en dos fases: recolección y procesamiento. En la fase de recolección se suelen aplicar diversas metodologías como el raspado de datos web (data scrapping) y la digitalización de información impresa. El procesamiento incluye la normalización y depuración inteligente de los datos previamente recolectados.</p>
    </div>
     <div class="tech">
     <h2>Exposición y evaluación</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>El tratamiento de datos históricos se puede subdividir en dos fases: recolección y procesamiento. En la fase de recolección se suelen aplicar diversas metodologías como el raspado de datos web (data scrapping) y la digitalización de información impresa. El procesamiento incluye la normalización y depuración inteligente de los datos previamente recolectados.</p>
    </div>
</div>
