 <div class="user-details">
  <h1> ¿Historia digital? </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Definición del problema</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>El primer paso para hacer historia digital efectiva es definir claramente nuestro problema. Para esto debemos poseer conocimientos previos que permitan comprender las formas en que se pueden utilizar los datos existentes para generar respuestas satisfactorias.</p>
    </div>
    <div class="tech">
      <h2>Tratamiento de datos</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Podemos dividirlo en dos fases: recolección y modelado. En la recolección aplicamos metodologías informáticas como el web scraping y la digitalización y reconocimiento de información impresa. El modelado contempla una fase previa de normalización y depuración de los datos recolectados, para su posterior procesamiento mediante un algoritmo específico.</p>
    </div>
     <div class="tech">
     <h2>Exposición y evaluación</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p> Mi parte favorita. Aquí tenemos el reto creativo de emplear herramientas digitales para la exposición más adecuada de los resultados previamente procesados. En este punto es donde entramos en contacto con los visitantes de este laboratorio. Ustedes nos retroalimentan y nos impulsan a seguir.</p>
    </div>
</div>
