<div class="user-details">
  <h1> Experimentos destacados </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/map1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> La digitalización del Archivo Nacional de Costa Rica y los Sistemas de Información Geográfica (GIS)</h3>
    <ul>
      <li> Conocimientos básicos en: Web Mapping </li>
      <li> Conocimientos intermedios en: Data Scraping </li>
    </ul>
    <p>Seguro que usted recuerda cuando tomábamos el bus de Barrio Pinto a las siete de la mañana para llegar al Archivo Histórico del Archivo Nacional de Costa Rica. Seguro que aún recuerda el fondo azul y el texto blanco que contenía fichas digitales que contenían variables referenciales para una gran cantidad de archivos históricos. ¿Recuerda, querido historiador, los operadores lógicos (AND, OR, TRUE, FALSE, ETC) para condicionar y afinar las búsquedas documentales? Yo sí. Malrecuerdo, especialmente, la búsqueda de palabras clave que desplegaban más de mil resultados, los cuales se debían revisar uno por uno. En el último par de años recuerdo haberle preguntado más de diez veces al archivista que si ya estaba la totalidad base de datos en el sitio web del ANCR. Hace más o menos un año me dijo que sí. Un lujo centroamericano.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
